header{
    padding: 15px 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
header .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .right a{
    padding: 20px;
}
header .logo-wrapper{
    position: relative;
}
header .subtext{
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    top: 10px;
    letter-spacing: 4px;
    color: gray;
}