.adoption{
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    margin: 50px 0;
    box-shadow: 0px 16px 95px rgba(0, 0, 0, 0.16);
}
.adoption *{
}
.adoption .left-side{
    width: 40%;
    flex-shrink: 0;
}
.adoption .left-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.adoption .right-side{
    width: 100%;
    padding: 30px 40px;
    position: relative;
}
.adoption .right-side .absolute-delete{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    width: 60px;
    padding: 18px 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    line-height: 120%;
}
.adoption .right-side .absolute-delete:hover{
    background-color: #ececec;
}
.adoption .right-side hr{
    margin: 20px 0;
}
.adoption .right-side h3{
    margin: 5px 0;
    font-weight: 500;
    font-size: 24.5983px;
    line-height: 30px;
}
.adoption .right-side h1{
    margin: 0;
    font-weight: 600;
    font-size: 64.5517px;
    line-height: 77px;
}
.adoption .right-side h2{
    margin: 0;
    font-size: 26.6px;
    line-height: 32px;
}
.adoption .right-side h4{
    margin: 5px 0;
    font-size: 18.6px;
    line-height: 22px;
    font-weight: normal;
    color: #5a5a5a;
}
.adoption .right-side h5{
    margin: 10px 0;
    font-weight: 600;
    font-size: 18.6px;
    line-height: 22px;
    color: #5a5a5a;
}