@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
/* Poppins font */

body {
  margin: 0 5vw;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
li{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  min-width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
}
.center > *{
  margin: auto;
}
.col-2{
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
}
.col-2 > *{
  width: 48%;
}
button.btn{
  font-size: 18px;
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 15px 60px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 100ms ease-out;
}
button.btn:hover{
  opacity: 0.8;
}
button.btn.small{
  width: min-content;
}

form .form{
  border: 2px solid black;
  width: 400px;
  padding: 45px 45px 35px;
  border-radius: 40px;
  text-align: center;
}
.form h1{
  font-size:40px;
}
.form > *{
  margin: 20px auto;
  width: 100%;

}
form input{
  padding: 15px 30px;
  border-radius: 50px;
  box-sizing: content-box;
  font-size: 17px;
  border: 2px solid black;
  display: block;
  box-sizing: border-box;
  margin-top: 30px !important;
}
form.form p{
  margin: 0;

}